
.heading {
    text-align: center;
    height: 10%;
    font-family: system-ui;
    text-decoration: underline;
    text-decoration-color: darkgrey;
    color: darkgray;
}
.heading h1 {
    font-size: 61px;
}

.contain {
  
  
         
    /* background-image: url("../../icons/code.png"); */
    background-color: cadetblue;
    
   height: 60vh;
   width: 100%;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;

}
.join-create-container {
 
    display: flex;
   
    justify-content:space-between;
    height: 67%;
}

.join-create{
   
    width: 46%;
    text-align: center;
     
}
.jc {
    width: 84%;
    height: 82%;
    margin-left: 13%;
    margin-top: 4%;
    text-align: center;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31,38, 135, 0.37);
    border-radius: 10px;

}

a {
    text-decoration: none;
    color:white;
}
.introduce {
    display: flex;
    flex-wrap: wrap;

    padding-top: 24px;
    width: 42%;
    color: white;
}
.introduce p{
    font-size: 30px;
}

.introduce ul {
    padding-top: 10px;
}

.introduce p::first-letter {
    font-size: 200%;

}


.features {
    width: 100%;
    height:20vh ;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    position: relative;
    bottom: 20px;
   
}

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 284px;
    height: 177px;
    padding: 0px 10px;
    font-size: 17px;
    border-radius: 17px;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba(31,38, 135, 0.37);
}
.feature p {

    position: relative;
   
}

ul li {

    font-size: 20px;
}


.create {
    margin:2% 0;
    margin-left: 20%;
    margin-right: 20%;
    
  

    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(40, 40, 135, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 25px;
    
}

.join {
    margin-top:2%;
    margin-left: 20%;
    margin-right: 20%;

    

    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(40, 40, 135, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 25px;
    
}

.create:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.join:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.Main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media only screen and (max-width: 892px) {
    .contain {
        width: 100%;
        height: 815px;
    }
    .join-create-container {
        display: flex;
        flex-direction: column;
        height: 67%;
        align-items: center;
    }
    .join-create {
        width: 100%;
        height: 272px;
        margin-top: 10px;
        text-align: center;
    }
    .introduce {
        display: flex;
        flex-wrap: wrap;
        padding-top: 24px;
        width: 80%;
        color: white;
    }
    .introduce p {
        margin-bottom: 25px;
    }
    
    .features {
        width: 100%;
        height: 250px;
        display: flex;
        position: unset;
        flex-direction: column;
        align-items: center;
        
       
    }

    
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 10px 10px;
    
    border-radius: 17px;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
}

.feature p {
    font-size: 15px;
}

}